/* ======================== */
/* ベーシックスタイル */
/* ======================== */
.v-application--wrap {
  background-color: rgb(240, 236, 230);
}
/* 全体フォント */
#app {
  font-family:"Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
  }

/* タイトルスタイル */
.title_container{
  height: 420px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
  #main_title{
    font-family: 'Black Han Sans', sans-serif;
    font-size: 46px;
    text-align: center;
    color: rgb(51, 34, 16);
    margin-top: 100px;
  }
  .sub_title {
    font-size: 22px;
    font-weight: 200;
    text-align: center;
    font-family: 'Roboto', sans-serif; 
  }
 
  .bee-img img {
    width: 80px;
    margin-top: 60px;
    /* margin-bottom: 30px; */
  }
  .quote {
    text-align: center;
    margin-bottom: 60px; 
  }

/* ======================== */
/* ナビゲーションスタイル */
/* ======================== */
.nav_list{
    display: flex;
    flex-direction: row-reverse;
    height: 50px;
    
  }
  .navs{
    display: block;
    padding: 40px 12px 0px;
    color: black;
    text-decoration: none;
    font-size: 18px;
  }
  .navs:first-child{
    margin-right: 140px;
  }
  
  .v-application a {
    color: black;
  }
  .v-application a:hover{
   color: goldenrod;
  }

/* ======================== */
/* card style */
/* ======================== */
  .v-card__title{
    padding-top: 20px;
    padding-bottom: 0;
  }
  li{
    list-style: none;
    width: auto
  }
  .v-application .pb-0{
    margin-top: 8px;
    /* min-height: 36px; */
  }
 
 div.container {
   max-width: 1500px; 
 }
 